---
import Animation from "./Animation.astro"
---

<div class="container py-10">
	<h2 class="font-display mb-10 text-2xl font-black">Animations</h2>
	<div
		class="grid grid-cols-1 items-center justify-center gap-5 lg:grid-cols-2"
	>
		<Animation
			url="https://www.youtube.com/watch?v=6M8WDFrOt-Q"
			title="They Were Just Friendlies"
		/>
		<Animation
			url="https://www.youtube.com/watch?v=T2Clxd1pS4M"
			title="You're An Irredeemable Monster!"
		/>

		<Animation
			url="https://www.youtube.com/watch?v=bALUJOdYJbM"
			title="Your Home Security Is Great"
		/>

		<Animation
			url="https://www.youtube.com/watch?v=qunvJcwmeVA"
			title="Well Then Put It In The Blender"
		/>

		<Animation
			url="https://www.youtube.com/watch?v=Wm5gvf_6I8M"
			title="ALYX!!! ALYX!!!"
		/>

		<Animation
			url="https://www.youtube.com/watch?v=abv-2YAO_3U"
			title="Watch Your Profanity"
		/>
	</div>
</div>
