---
const { colour, items = [] } = Astro.props
---

<div
	class:list={[
		"relative flex overflow-x-hidden",
		colour ? `bg-${colour}` : "bg-gray-100",
	]}
>
	<div class="animate-marquee py-12 whitespace-nowrap">
		{items.map((item: string) => <span class="mx-4 text-4xl">{item}</span>)}
	</div>

	<div class="animate-marquee2 absolute top-0 py-12 whitespace-nowrap">
		{items.map((item: string) => <span class="mx-4 text-4xl">{item}</span>)}
	</div>
</div>
